*{
    margin: 0;
}
.image{
    height: 25%;
    width: 25%;
    justify-self: center;
}
img{
    height: 100%;
    width: 100%;
}
h1{
    background: rgba(6, 6, 155, 0.74);
    color: white;
    padding: 5%;
    text-align: center;
    font-size: 40px;
}
button{
    padding: 8px 12px;
    background: rgba(50, 50, 71, 0.74);
    border: rgba(50, 50, 71, 0.74);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
}
button:hover{
    background: rgba(6, 6, 155, 0.74);
    border: rgba(6, 6, 155, 0.74);
}